@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
:root {
--color-bg: hsl(0, 0%, 10%);
--font-sans: "Montserrat", sans-serif;
--font-serif: ;
--font-mono: "Source Code Pro", monospace;
--primary-color: hsl(272, 100%, 74%);
--dark-primary-color: color-mix(in srgb, var(--primary-color), black 30%);
--secondary-color: hsl(0, 0%, 100%);
--grey: hsl(0, 0%, 60%);;
--spacing-content: 650px;
--spacing-max-content: calc(100vw - (2 * var(--spacing-gutter)));
--spacing-gutter: 1.5rem;
--spacing: .25rem;
--text-base: 1rem;
--text-base--line-height: 1.7rem;
--letter-spaing-base: .08rem;
--animate-marquee: marquee 8s linear 1.5s infinite;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
}

body {
    background: var(--color-bg);
    color: var(--secondary-color);
    font-family: var(--font-sans);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-weight: 300;
}

body:before {
    content: "";
    opacity: 1;
    background-image: radial-gradient(var(--dark-primary-color) .07rem, var(--color-bg) 1px);
    background-size: 2rem 2rem;
    z-index: -1;
    width: 100vw;
    height: 100dvh;
    position: fixed;
    top: 0;
    mask: linear-gradient(135deg,#0000 60%,#fff);
}
nav {
    display: flex;
    justify-content: start;
    align-items: center;
    position: sticky;
    top: calc(var(--spacing) * 0);
    padding: calc(var(--spacing) * 2);
    background: var(--color-bg);
    z-index: 2;
}

.bi-circle {
  fill: var(--primary-color);
  stroke: var(--color-bg);
  stroke-width: .049rem;
}

nav a {
    cursor: pointer;
    color: var(--primary-color);
    padding: calc(var(--spacing) * 3);
}

section {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin:0 auto;
    width: var(--spacing-content);
    max-width: var(--spacing-max-content);
    padding-block: calc(var(--spacing) * 6);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
        filter: blur(3px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

header {
    margin-bottom: calc(var(--spacing) * 6);
    text-wrap: balance;
}
header, main div:first-child {
    opacity: 0;
    transform: translateY(20px);
    filter: blur(3px);
    animation: fadeIn 1s ease-in-out 0.3s forwards;
}

.headliner {
    font-family: var(--font-sans);
    font-size: clamp(2.2rem, 3.5vw, 3.5rem);
    line-height: clamp(2.4rem, 3.7vw, 3.6rem);
    font-weight: 700;
    margin-bottom: calc(var(--spacing) * 2);
}

h1 {
    margin: 0 auto;
    color: var(--grey);
}

p {
    margin-bottom: calc(var(--spacing) * 4);
    line-height: var(--text-base--line-height);
    font-size: var(--text-base);
    font-weight: 300;
    text-wrap: balance;
    letter-spacing: calc(var(--letter-spaing-base) / 1.5);
}

.text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.text-link:hover,
.text-link:active,
.text-link:focus {
    background-color: var(--dark-primary-color);
    color: var(--secondary-color);
    transition: color 0.3s ease, background 0.3s;
} 

::-moz-selection {
    background: var(--dark-primary-color);
    color: var(--secondary-color);
}

::selection {
    background-color: var(--dark-primary-color);
    color: var(--secondary-color);
    background-clip: text;
    -webkit-background-clip: text;
}

.social {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-top: calc(var(--spacing) * 12);

    opacity: 0;
    transform: translateY(10px);
    filter: blur(2px);
    animation: fadeIn2 1s ease-in-out 1s forwards;
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
        transform: translateY(10px);
        filter: blur(2px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

h1, ul {
    font-weight: 200;
    text-transform: uppercase;
    font-family: var(--font-mono);
    font-size: clamp(0.9rem, 1vw, var(--text-base));
    line-height: clamp(1.5rem, 1.7vw, var(--text-base--line-height));
    letter-spacing: var(--letter-spaing-base);
}

ul {
    list-style: none;
}

ul li{
    margin: .2em 0 0 0;
    color: var(--grey);
    white-space: nowrap;
    }

.social a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.social a:hover {
    color: var(--secondary-color);
    background: var(--dark-primary-color);
    transition: color 0.3s ease, background 0.3s ease;
}

.running{
    text-align: left;
    width: 18ch;
    overflow: hidden;
    padding-block: calc(var(--spacing) * 1);
    display: inline-flex;
    margin-inline: calc(var(--spacing) * 1);
}
.running > span{
    animation: var(--animate-marquee);
    margin-inline: calc(var(--spacing) * 1);
}

@keyframes marquee {
    to {
        translate: -51%
    }
}