.metricsWrapper {
  width: 100%;
  padding: $space-sm $space-sm $space-xs;
  margin: 0 0 $space-lg;
  text-align: center;
  background: rgba($clr-secondary, 0.01);
  border: 1px solid rgba($clr-grey, 0.2);
  border-radius: $radius-xl;
  box-shadow: $brand-shadow;
}

.metricsTitle {
  @include accent-text;

  margin: $space-xl auto 0;
  text-align: center;

  a {
    @include link;
  }
}

.metricsGrid {
  display: grid;
  row-gap: $space-sm;

  .compact & {
    grid-template-columns: repeat(2, 50%);
  }
  
  .full & {
    grid-template-columns: repeat(2, 50%);

    @include screen(tablet){ 
      grid-template-columns: repeat(4, 1fr); 
    }
  }
}

.metricItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.circle {
  @include flex-center;

  min-width: 60px;
  min-height: 60px;
  background: rgba($clr-accent, 0.05);
  border: 1px solid $clr-accent;
  border-radius: 50%;
}

.metricValue {
  min-width: $icon-lg;
  min-height: $icon-sm;
  padding: $space-xs;
  font-size: 1.3rem;
  font-weight: bold;
  color: $clr-accent;
}

.metricLabel {
  margin-top: $space-xs;
  font-size: calc($font-size-base * 0.85);
  color: $clr-grey;
}

.metricsCTA {
  width: 100%;
  margin: $space-xs auto 0;
}