.btn {
  @include flex-center;

  position: relative;
  width: 29ch;
  height: $icon-lg;
  padding: $space-xs $space-sm;
  overflow: hidden;
  font-family: $font-mono;
  font-size: $font-size-base;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-base;
  border-radius: $radius;
  box-shadow: $brand-shadow;
  transition:
    box-shadow $transition-slow,
    transform $transition-base,
    background-color $transition-slow,
    border $transition-slow,
  ;

  &:hover,
  &:active {
    box-shadow: 0 1.1rem 0.75rem -1rem $clr-primary,
      0 0 1.5rem $clr-black,
    ;
    transform: scale(0.95);
  }

  &.primary {
    color: $clr-white;
    background-color: $clr-primary-dark;

    &:hover,
    &:active {
      background-color: $clr-primary;
    }
  }

  &.secondary {
    color: $clr-primary;
    background-color: transparent;
    border: 1px solid $clr-primary-dark;


    &:hover,
    &:active {
      background-color: transparent;
      border-color: $clr-primary;
    }
  }

  &.outline {
    color: $clr-accent;
    background-color: transparent;
    border: 1px solid $clr-accent;

    &:hover,
    &:active {
      background-color: transparent;
      border-color: $clr-accent;
      box-shadow:
        0 1.1rem 0.75rem -1rem $clr-accent,
        0 0 1.5rem $clr-black,
      ;
    }
  }
}