:root {
  --font-sans: "Montserrat", sans-serif;
  --font-mono: "Source Code Pro", monospace;
  --color-bg: hsl(0deg 0% 10%);
  --primary-color: rgb(197 139 255);
  --dark-primary-color: color-mix(in srgb, var(--primary-color), black 30%);
  --secondary-color: hsl(0deg 0% 100%);
  --grey: hsl(0deg 0% 65%);
  --color-error: rgb(255 5 101);
  --spacing-content: 800px;
  --spacing-max-content: calc(100vw - (2 * var(--spacing-gutter)));
  --spacing-gutter: 1.5rem;
  --spacing: 0.25rem;
  --transition: all 0.3s linear;
  --text-base: 1rem;
  --text-h4: 1.25rem;
  --text-h3: 1.56rem;
  --text-h2: 1.95rem;
  --text-h1: 2.44rem;
  --text-base-line-height: 1.7rem;
  --letter-spaing-base: 0.08rem;
  --blog-text-small: 0.75rem;
  --blog-text: 0.85rem;
  --blog-text-h1: 1.36rem;
  --blog-text-h2: 1.2rem;
  --blog-text-h3: 1.08rem;
  --blog-text-h4: 0.95rem;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0 solid;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: var(--font-sans);
  font-weight: 300;
  color: var(--secondary-color);
  background: var(--color-bg);
}

body::before {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100dvh;
  content: "";
  background-image: radial-gradient(var(--dark-primary-color) 0.07rem, var(--color-bg) 1px);
  background-size: 2rem 2rem;
  opacity: 1;
  mask: linear-gradient(135deg, hsl(0deg 0% 0% / 0%) 60%, #fff);
}

h1,
.social,
.subtitle {
  font-family: var(--font-mono);
  font-size: clamp(1rem, 1vw, var(--text-base));
  font-weight: 300;
  line-height: clamp(1.5rem, 1.7vw, var(--text-base-line-height));
  color: var(--grey);
  text-transform: uppercase;
  letter-spacing: var(--letter-spaing-base);
}

h1 {
  margin: 0 auto calc(var(--spacing) * 2);
}

h2,
.headliner {
  margin-bottom: calc(var(--spacing) * 2);
  font-family: var(--font-sans);
  font-size: clamp(2.44rem, 5.5vw, 3rem);
  font-weight: 700;
  line-height: clamp(2.9rem, 6.6vw, 3.6rem);
}

h3 {
  margin-bottom: calc(var(--spacing) * 1.5);
  font-size: clamp(1.56rem, 3.5vw, 1.92rem);
  line-height: clamp(1.9rem, 4.2vw, 2.3rem);
}

h4 {
  margin-bottom: calc(var(--spacing) * 1.5);
  font-size: clamp(1.25rem, 2.8vw, 1.54rem);
  line-height: clamp(1.9rem, 4.2vw, 2.3rem);
}

p {
  margin-bottom: calc(var(--spacing) * 10);
  font-size: var(--text-base);
  font-weight: 300;
  line-height: var(--text-base-line-height);
  letter-spacing: calc(var(--letter-spaing-base) / 1.5);
  text-wrap: balance;
}

.bi-circle {
  width: 80%;
  fill: var(--primary-color);
  stroke: var(--color-bg);
  stroke-width: 0.035rem;
}

header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: var(--color-bg);
}

.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  line-height: 0;
}

.blog-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.6rem;
}

.blog-title h1 {
  margin-bottom: 0.25rem;
  font-weight: 400;
  color: var(--secondary-color);
}

footer p {
  margin: 1rem 0;
  font-size: 0.85rem;
  color: var(--grey);
}

.blog-title p {
  margin: 0;
  font-size: var(--blog-text-small);
  font-weight: 400;
  line-height: 0;
  color: var(--grey);
}


.nav-toggle {
  color: var(--primary-color);
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
}

.nav-toggle:hover {
  color: var(--primary-color);
}

.dots-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.dot {
  display: block;
  width: 0.34rem;
  height: 0.34rem;
  background-color: var(--primary-color);
  border-radius: 100%;
  transition: transform 0.8s ease, opacity 0.3s ease;
}

.nav-toggle.active .dot:nth-child(1) {
  width: 100%;
  height: 0.12rem;
  border-radius: 0.1rem;
  transform: translateY(11px) rotate(45deg);
}

.nav-toggle.active .dot:nth-child(2) {
  opacity: 0;
}

.nav-toggle.active .dot:nth-child(3) {
  width: 100%;
  height: 0.12rem;
  border-radius: 0.1rem;
  transform: translateY(-10px) rotate(-45deg);
}

.links {
  max-height: 0;
  overflow: hidden;
  font-size: var(--blog-text-h2);
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  list-style: none;
  box-shadow: 0 40px 40px rgb(0 0 0 / 60%);
  transition: max-height 0.5s ease-in-out;
}

ul li {
  margin: 0.5em 0 0;
  color: var(--grey);
  white-space: nowrap;
}

.links li {
  margin: 1.7rem 1.3rem;
  font-family: var(--font-mono);
}

footer a {
  color: var(--primary-color);
  text-decoration: none;
  transition: var(--transition);
}

.links a {
  color: var(--primary-color);
  text-decoration: none;
  transition: var(--transition);
}

.text-link,
.content a {
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 1px solid var(--dark-primary-color);
}

.social-media a {
  color: var(--primary-color);
  transition: var(--transition);
}

.social a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.cta-btn a,
.cta-btn-secondary a {
  color: var(--secondary-color);
  text-decoration: none;
}

.cta-btn-secondary a {
  color: var(--primary-color);
}

.btn-home a {
  font-size: var(--blog-text-h4);
  color: var(--secondary-color);
  text-decoration: none;
}

.links a:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

li.smartphone {
  margin-top: 1rem;
  font-family: var(--font-sans);
  color: var(--secondary-color);
  text-transform: none;
}

.smartphone p {
  margin: 0 0 0.75rem;
  font-size: var(--blog-text);
  line-height: var(--blog-text-h1)
}

.social-media {
  display: flex;
  justify-content: start;
  padding: 0;
  list-style: none;
}

.skills li {
  margin: 0;
  font-size: var(--blog-text);
  line-height: 1.4rem;
  text-wrap: wrap;
  list-style: circle;
}

.social-media li {
  margin: 1rem 3rem 0.2rem 0;
}


.post ul li,
.post ol li {
  margin: 0 1.5rem;
  font-size: calc(var(--blog-text) * 1.1);
  line-height: 1.5rem;
  text-wrap: wrap;
}

.post ul li {
  list-style: disc;
}

.social-media.footer-media li {
  margin: 1.5rem;
}

.social-icon {
  width: 1.6rem;
  height: 1.6rem;
  vertical-align: top;
  fill: currentcolor;
}

.social-media a:hover .social-icon {
  color: var(--secondary-color);
  transform: scale(1.2);
}

.show-links {
  max-height: 90vh;
}

section {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: var(--spacing-content);
  padding: 0 var(--spacing-gutter);
  margin: 0 auto 5rem;
}

.home {
  margin: 25% auto 7rem;
}

.arrow-down {
  display: none;
}

.accent {
  margin-bottom: 2rem;
  font-family: var(--font-mono);
  font-size: var(--blog-text-h4);
  color: var(--grey);
}

@media screen and (width >=768px) {
  .nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0.3rem;
    margin: 0 auto;
  }

  .nav-header {
    padding: 0;
  }

  .blog-title {
    margin: 0 0 0.5rem 0.75rem;
  }

  .bi-circle {
    width: 100%;
  }

  .nav-toggle {
    display: none;
  }

  .links {
    display: flex;
    align-items: center;
    max-height: none;
    overflow: visible;
    font-size: calc(var(--text-base) * 0.9);
    box-shadow: none;
    transition: none;
  }

  .links li {
    margin: 0 0 0.5rem 1.2rem;
  }

  .links a {
    padding: 0;
    margin: 0 0.5rem;
    transition: none;
  }

  .links a:hover {
    padding: 0;
    color: var(--secondary-color);
    background: transparent;
    transition: color 0.3s ease, background 0.3s;
  }

  .smartphone {
    display: none;
  }

  .social-media li {
    margin: 0 0.75rem 0 0;
  }

  .social-icon {
    width: 1.1rem;
    height: 1.1rem;
    vertical-align: top;
    fill: currentcolor;
    transition: transform 0.2s ease;
  }

  section {
    margin: 0 auto 7rem;
  }

  .home {
    margin: 25vh auto 5rem;
  }

  .arrow-down {
    display: block;
    align-self: center;
    margin: 3rem 0 2.8rem;
    color: var(--grey);
    transition: var(--transition);
    animation: floating 1.5s ease 0.1s infinite alternate;
  }

  @keyframes floating {
    0% {
      opacity: 0;
      filter: blur(0.25rem);
      transform: translateY(0);
    }

    100% {
      opacity: 1;
      filter: blur(0);
      transform: translateY(1rem);
    }
  }

  .accent {
    margin-bottom: 3.5rem;
  }

}

.hero-text{
  margin-bottom: calc(var(--spacing) * 6);
  text-wrap: balance;
}

.hero-text,
.bio {
  opacity: 0;
  filter: blur(3px);
  transform: translateY(20px);
  animation: fade-in 1s ease-in-out 0.3s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    filter: blur(3px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.text-link:hover,
.text-link:active,
.text-link:focus,
.content a:hover,
.content a:active,
.content a:focus {
  color: var(--secondary-color);
  background-color: var(--dark-primary-color);
  transition: color 0.3s ease, background 0.3s;
}

::selection {
  color: var(--secondary-color);
  background-color: var(--dark-primary-color);
  background-clip: text;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: start;
  opacity: 0;
  filter: blur(2px);
  transform: translateY(10px);
  animation: fade-in-2 1s ease-in-out 1s forwards;
}

@keyframes fade-in-2 {
  0% {
    opacity: 0;
    filter: blur(2px);
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

ul {
  list-style: none;
}

.social a:hover {
  color: var(--secondary-color);
  background: var(--dark-primary-color);
  transition: color 0.3s ease, background 0.3s ease;
}

.running {
  display: inline-flex;
  width: 17ch;
  margin-left: -0.5rem;
  overflow: hidden;
  text-align: left;
}

.running>span {
  font-size: clamp(0.95rem, 1vw, var(--text-base));
  animation: marquee 8s linear 1.5s infinite;
}

@keyframes marquee {
  to {
    translate: -51%;
  }
}

/* 
======================
FADE-IN ANIMATION AND BUTTONS
====================== 
*/
.fade-in-section,
.fade-in-delay,
.fade-in-delay-box {
  opacity: 0;
  filter: blur(3px);
  transform: translateY(50px);
}

.fade-in-section.is-visible,
.fade-in-delay.is-visible,
.fade-in-delay-box.is-visible {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.fade-in-section {
  transition: opacity 1s ease-in-out, transform 1s ease, filter 1s ease-in-out;
}

.fade-in-delay {
  transition: opacity 1s 0.3s ease-in-out, transform 1s 0.3s ease, filter 1s 0.3s ease-in-out;
}

.fade-in-delay-box {
  transition: opacity 1s 0.6s ease-in-out, transform 1s 0.6s ease, filter 1s 0.6s ease-in-out;
}

.motion-effect {
  opacity: 0;
  filter: blur(3.5rem);
  transform: scale(0);
  transition: filter 1.7s ease-in-out;
}

.motion-effect.is-visible {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}

.cta-btn,
.cta-btn-secondary {
  width: 29ch;
  padding: 0.4rem 1rem;
  font-family: var(--font-mono);
  font-size: var(--text-base);
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: var(--letter-spaing-base);
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: 0 0.05rem 0.75rem black;
  transition: box-shadow 0.3s ease, transform 0.3s ease-in-out;
}

.cta-btn {
  background-color: var(--dark-primary-color);
}

.cta-btn-secondary {
  border: 1px solid var(--dark-primary-color);
}

.cta-btn a:hover,
.cta-btn a:active,
.cta-btn-secondary a:hover,
.cta-btn-secondary a:active {
  background-color: transparent;
}

.cta-btn:hover,
.cta-btn:active,
.cta-btn-secondary:hover,
.cta-btn-secondary:active {
  box-shadow: 0 0 0.5rem black,
    0 0 5rem var(--dark-primary-color);
  transform: scale(0.95);
}

.social p.cta-btn {
  margin: calc(var(--spacing) * 10) 0 0;
}

/* 
======================
PROJECT SECTION 
====================== 
*/
.projects {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  row-gap: 0.75rem;
}

.projects>p {
  grid-column: 1 / 2;
  justify-self: start;
}

span.subtitle {
  display: inline-block;
  margin: 0.6rem 0 calc(var(--spacing) * 6);
  line-height: 1.5rem;
}

.project-link {
  display: block;
  justify-self: center;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.project-card {
  position: relative;
  width: 100%;
  max-width: 550px;
  overflow: hidden;
  border-radius: 0.75rem;
  box-shadow: 0 0.05rem 0.75rem black;

}

.project-card .img {
  width: 100%;
  height: auto;
  aspect-ratio: 4/5;
  object-fit: cover;
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

.project-card::after {
  position: absolute;
  top: 87%;
  left: 83%;
  width: 2.5rem;
  height: 2.5rem;
  font-size: calc(var(--text-base) * 1.9);
  text-align: center;
  content: '➝';
  background: var(--dark-primary-color);
  border-radius: 100%;
  opacity: 0.5;
  transform: rotate(45deg);
  transition: var(--transition);
}

.project-link:hover .project-card::after,
.project-link:active .project-card::after {
  top: 89%;
  left: 87%;
  font-size: calc(var(--text-base) * 2);
  opacity: 0.9;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 100%;
  padding: 1rem 1.5rem;
  opacity: 0.7;
  transition: opacity 0.8s ease;
}

.image-overlay h3 {
  margin-bottom: 0.25rem;
  font-size: clamp(1.56rem, 3.5vw, 1.7rem);
}

.image-overlay p {
  font-size: var(--blog-text);
  line-height: 1.45rem;
}

.post img.post-img,
.post img {
  width: 100%;
  aspect-ratio: 1/1;
  margin: calc(var(--spacing)* 1.5) 0;
  object-fit: cover;
  border-radius: 0.2rem;
}

.project-link:hover .project-card {
  box-shadow: 0 0.05rem 2rem black;
}

.about img {
  width: 90%;
  aspect-ratio: 1/1;
  margin: 0 0 calc(var(--spacing) * 10);
  object-fit: cover;
  border-radius: 100%;
}

.project-link:hover .project-card img {
  filter: brightness(0.9);
  transform: scale(1.2);
}

.project-link:hover .project-card .image-overlay {
  opacity: 1;
}

.projects-cta {
  grid-column: 1 /2;
  justify-self: center;
  text-align: center;
}

.projects-cta h4 {
  margin: 2.5rem auto 1rem;
}

.projects-cta .cta-btn {
  margin: 0 0 1rem;

}

.projects-cta .cta-btn-secondary {
  margin: 0;
}

@media screen and (width >=768px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
  }

  .projects>p,
  .projects h2 {
    grid-column: 1 / 3;
    justify-self: start;
  }

  .projects .headliner {
    line-height: 2.3rem;
  }

  span.subtitle {
    margin-top: -7rem;
  }

  .projects-cta {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 3;
    column-gap: 0.75rem;
    justify-items: end;
    justify-self: end;
    width: 100%;
    padding: 0 0.75rem;
  }

  .projects-cta h4 {
    grid-column: 2 / 3;
    justify-self: center;
    margin: 2rem 1rem 1rem;
  }

  .projects-cta .cta-btn {
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
    margin: 0;

  }

  .projects-cta .cta-btn-secondary {
    grid-area: 2 / 1 / 3 / 2;
    justify-self: flex-start;
    width: 100%;
    margin: 0;
  }

  .project-card {
    border-radius: 1rem;
  }

  .project-card .img {
    aspect-ratio: 4 / 5;
  }
}

/* 
======================
ABOUT SECTION 
====================== 
*/
.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.story div {
  align-self: flex-start;
}

.about p,
.about h3 {
  color: var(--grey);
  text-wrap: wrap;
}

.about p.subtitle {
  margin: 0 0 1rem;
}

p.quote {
  margin: calc(var(--spacing) * 10);
  font-size: clamp(1.25rem, 2.8vw, 1.54rem);
  font-weight: 500;
  line-height: clamp(1.9rem, 4.2vw, 2.3rem);
  color: var(--secondary-color);
}

.about>*:nth-child(3) {
  letter-spacing: 0.03rem;
}

.about .social-media {
  margin: 0 auto 5rem;
}

.about .social-media li {
  margin: 0 1.5rem;
}

.about .cta-btn {
  align-self: center;
  margin-top: calc(var(--spacing) * 10);
}

.about .social {
  width: 100%;
  margin-bottom: calc(var(--spacing) * 10);
}

.about .social li {
  text-wrap: wrap;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.skills>div {
  width: 90%;
  aspect-ratio: 1/1;
  padding: 10rem 0 2rem 5rem;
  margin-bottom: 0.75rem;
  background-color: transparent;
  border-radius: 0.5rem;
  box-shadow: 0 0.05rem 0.75rem black;
}

.lang::before,
.tools::before,
.concepts::before,
.build::before {
  position: relative;
  top: -1.5rem;
  left: -0.5rem;
  margin-left: -2rem;
  font-size: 1.7rem;
  opacity: 0.5;
  filter: grayscale(1) contrast(2) brightness(0.6);
}

.lang::before {
  content: '🧩';
}

.tools::before {
  content: '⚙️';
}

.concepts::before {
  content: '💡';
}

.build::before {
  content: '🛠';
}

.skills h3 {
  margin-bottom: 0.9rem;
  font-size: 1.56rem;
}

@media screen and (width >=540px) {
  .skills {
    justify-content: flex-start;
  }

  .skills>div {
    width: 46%;
    padding: 9rem 1.5rem 2rem 4.5rem;
    margin: 0.5rem;
  }

  .skills h3 {
    font-size: clamp(1.4rem, 4vw, 1.92rem);
  }

  .about .cta-btn {
    align-self: center;
    margin-right: 0.75rem;
  }
}

.reviews .subtitle {
  margin: 0 0 0.5rem;
}

.reviews>*:nth-child(3) {
  line-height: 1.5rem;
  color: var(--grey);
}

.fade-in {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.fade-in-author {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.fade-in.is-shown,
.fade-in-author.is-shown {
  opacity: 1;
  transform: translateY(0);
}

.review {
  height: 23.5rem;
  padding: 1rem 0;
}

.review p {
  margin: 0;
}

#author {
  font-family: var(--font-mono);
  font-size: var(--text-base);
  text-transform: uppercase;
}

#info {
  width: 100%;
  margin: calc(var(--spacing) * 10) 0;
  font-weight: 400;
  text-wrap: wrap;
}

#info::before,
p.quote::before {
  position: relative;
  top: 0;
  left: 0;
  margin-right: -2.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 6rem;
  line-height: 0;
  color: var(--grey);
  content: "\"";
  opacity: 0.7;
}

#info::after,
p.quote::after {
  position: relative;
  top: 0;
  left: 0.5rem;
  font-weight: 700;
  color: var(--grey);
  content: "\"";
  opacity: 0.7;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

.prev-btn,
.next-btn {
  width: 3rem;
  height: 3rem;
  font-size: 1rem;
  line-height: 0;
  color: var(--primary-color);
  cursor: pointer;
  background: transparent;
  border: 2px solid var(--dark-primary-color);
  border-radius: 100%;
  transition: var(--transition);
}

.prev-btn:hover,
.next-btn:hover,
.prev-btn:active,
.next-btn:active {
  color: var(--secondary-color);
  transform: scale(0.9);
}

.bi-chevron-left,
.bi-chevron-right {
  stroke: var(--primary-color);
  stroke-width: 0.06rem;
}

p.cta-btn-secondary {
  align-self: center;
  margin: calc(var(--spacing) * 10) 0 0;
}

@media screen and (width >=768px) {
  .about .cta-btn {
    align-self: flex-end;
    margin: calc(var(--spacing) * 10) 0.75rem 0 0;
  }

  .story {
    flex-direction: row-reverse;
  }

  .story div {
    align-self: center;
  }

  .about img {
    float: left;
    width: 35%;
    height: auto;
    margin: 0 calc(var(--spacing) * 10) calc(var(--spacing) * 10) 0;
    border-radius: 50%;
    shape-outside: circle();
  }

  .about .social-media {
    justify-content: flex-start;
    margin: 0 0 5rem;
  }

  .about .social-media li {
    margin: 0 2.5rem 0 0;
  }

  .skills div {
    width: 47%;
    padding: 9rem 1rem 2rem 5rem;
  }

  .skills h3 {
    font-size: clamp(1.56rem, 2vw, 1.8rem);
  }

  .review {
    height: clamp(18rem, 35vw, 21rem);
  }

  .button-container {
    width: 30%;
  }
}

/* 
======================
CONTACT SECTION 
====================== 
*/
.contact {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}

form label {
  margin-bottom: 0.75rem;
}

.form-group:focus-within label {
  color: var(--dark-primary-color);
  transition: color 0.3s ease-in-out;
}

form input,
form textarea {
  min-height: 3rem;
  font-family: var(--font-mono);
  font-size: calc(var(--text-base) * 1.2);
  font-weight: 400;
  color: var(--grey);
  background-color: transparent;
  border-bottom: 1px solid var(--grey);
}

form textarea {
  width: 100%;
  min-width: 320px;
  max-width: 700px;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-bottom: 1px solid var(--dark-primary-color);
  box-shadow: 0 1px 0 0 var(--dark-primary-color);
  transition: all 0.3s ease-in-out;
}

.error-message{
  font-family: var(--font-sans);
  font-size: var(--blog-text);
  color: var(--color-error);

}

form button {
  align-self: center;
  min-height: 3rem;
  color: var(--secondary-color);
}

form input::placeholder,
form textarea::placeholder {
  font-family: var(--font-mono);
  font-size: var(--text-base);
  color: var(--grey);
  letter-spacing: 0.05rem;
  opacity: 0.5;
}

form input:focus::placeholder,
form textarea:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

form input:-webkit-autofill,
form textarea:-webkit-autofill {
  color: var(--grey) !important;
  background-color: transparent !important;
  background-image: none !important;
  transition: background-color 0s 99999s, color 0s 99999s !important;
}

form input:-webkit-autofill:hover,
form input:-webkit-autofill:focus,
form textarea:-webkit-autofill:hover,
form textarea:-webkit-autofill:focus {
  color: var(--grey) !important;
  background-color: transparent !important;
  background-image: none !important;
}

@media screen and (width >=768px) {
  form button {
    align-self: flex-end;
  }
}

/* 
======================
FOOTER 
====================== 
*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 1200px;
}

footer .accent {
  margin: 0.5rem;
  text-align: center;
}

#back-to-top {
  position: fixed;
  right: 0.5rem;
  bottom: 2rem;
  z-index: 1000;
  display: none;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: var(--secondary-color);
  cursor: pointer;
  background-color: var(--dark-primary-color);
  border: none;
  border-radius: 50%;
  box-shadow: 0 0.25rem 0.75rem black;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

#back-to-top:hover {
  opacity: 1;
}

/* 
======================
BLOG 
====================== 
*/

.post h1 {
  margin-bottom: 2rem;
  font-family: var(--font-sans);
  font-size: var(--blog-text-h1);
  font-weight: 700;
  line-height: 2.72rem;
}

.post h2 {
  font-size: var(--blog-text-h2);
  font-weight: 600;
  line-height: 1.9rem;
}

.post h3 {
  margin-top: 2rem;
  font-size: var(--blog-text-h3);
  font-weight: 500;
  line-height: 2.16rem;
}

.post h4 {
  margin-top: 2rem;
  font-size: var(--blog-text-h4);
  font-weight: 500;
  line-height: 1.9rem;
}

.post p {
  margin-bottom: 1rem;
  font-size: calc(var(--blog-text)* 1.1);
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.01rem;
  text-wrap: wrap;
}

.content p::first-letter {
  margin-left: 0;
}

.post h1,
.post h2,
.post h3,
.post h4 {
  color: var(--secondary-color);
}

.post code {
  padding: 0.1rem 0.5rem;
  font-family: var(--font-mono);
  color: skyblue;
  letter-spacing: var(--letter-spaing-base);
  background: var(--color-bg);
  border: 1px solid hsl(0deg 0% 20%);
  border-radius: 0.2rem;
}

.post details {
  margin-bottom: 1rem;
  font-size: calc(var(--blog-text)* 1.1);
  line-height: 1.5rem;
  letter-spacing: 0.04rem;
  text-wrap: wrap;
  cursor: pointer;
}

.post summary {
  font-family: var(--font-mono);
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.post ul,
.post ol {
  margin: 1rem 0;
}

.post blockquote {
  padding: 0 1.8rem 0.1rem 0.6rem;
  margin: 0.5rem 0 1rem;
  font-style: italic;
  text-wrap: balance;
  background-color: var(--color-bg);
  border-left: 0.15rem solid var(--dark-primary-color);
  border-radius: 0.3rem;
  box-shadow: 0 0 2px hsl(0deg 0% 30%);
}

.post blockquote::before {
  position: relative;
  top: 1.8rem;
  left: 99%;
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 0;
  color: var(--dark-primary-color);
  content: "\"";
}

#feed {
  width: 100vw;
  max-width: var(--spacing-content);
  min-height: 100vh;
  padding: 0.7rem;
  margin: 6rem auto 2rem;
  overflow: scroll;
}

article.post {
  padding: 0.75rem 0.75rem 0.3125rem;
}

.post {
  position: relative;
  width: 88%;
  margin-bottom: calc(var(--spacing) * 2);
  background: linear-gradient(135deg, hsl(0deg 0% 17%), hsl(0deg 0% 11%));
  border-radius: 1rem;
  box-shadow: 0 0.05rem 0.75rem black;
}

.post .content {
  font-size: var(--blog-text);
  color: var(--grey);
}

.post .meta {
  position: relative;
  top: 0.3rem;
  margin-bottom: 0;
  font-size: var(--blog-text-small);
  color: var(--grey);
  letter-spacing: 0.03rem;
  filter: grayscale(1) contrast(5) brightness(50%);
}

.post-footer {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 5fr 5fr;
  align-items: end;
}

.reaction-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  margin-top: 10px;
  text-align: center;
  animation: none;
}

.post-footer .reaction-buttons {
  grid-column: 1 / 2;
  justify-self: start;
}

.post-footer .meta {
  grid-column: 2 / 3;
  justify-self: end;
}

.manual-copy-input {
  position: absolute;
  bottom: 20px;
  left: -9999px;
  z-index: 9999;
  padding: 0.75rem 1.5rem;
  margin: 1rem 0 0.5rem;
  font-size: 1rem;
  color: var(--secondary-color);
  pointer-events: none;
  background: rgb(38 41 42 / 90%);
  border-radius: 0.7rem;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.manual-copy-input.visible {
  margin-top: 1rem;
  opacity: 1;
}

.share-link {
  position: relative;
  top: -3rem;
  left: 3.2rem;
  padding: 0.32rem 0.5rem;
  font-size: 0.85rem;
  font-weight: bold;
  color: var(--primary-color);
  letter-spacing: -0.04rem;
  text-decoration: none;
  cursor: pointer;
  background: black;
  border-radius: 5rem;
}

.post-footer .share-link,
.post-footer .manual-copy-input {
  grid-column: 1 / 3;
  justify-self: end;
}

.like-btn {
  padding: 0.15rem 0.5rem;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  filter: grayscale(1);
  transition: background-color 0.2s, transform 0.1s;
}

.share-link:hover,
.share-link:focus,
.share-link:active {
  transform: scale(0.9);
}

.share-link::after {
  font-size: 1rem;
  content: '➝';
}

.post a.share-link {
  margin-bottom: -3rem;
}

.like-btn:hover,
.share-link:hover {
  text-decoration: none;
}

.like-btn:hover,
.like-btn:active,
.like-btn:focus {
  text-decoration: none;
  text-shadow: 0 0 1.5rem red;
  background-color: transparent;
  filter: grayscale(0);
  transition: var(--transition);
}

.like-btn.reacted {
  color: #fff;
  background-color: rgb(197 139 255 / 35%);
  filter: grayscale(0);
}

.like-btn:not(.reacted):active,
.like-btn:not(.reacted):focus {
  text-shadow: none;
  filter: grayscale(1);
}

.reaction-count {
  margin-left: -2px;
  font-size: 0.8rem;
}

.reaction-count:empty,
.reaction-count:not(:empty)::after {
  content: attr(data-count);
}

.reaction-count[data-count="0"] {
  display: none;
}

.reaction-count.hidden {
  display: none;
}

.highlight {
  box-shadow: 0 0 0 0 var(--primary-color);
  animation: highlight-fadeout 2.5s ease forwards;
}

@keyframes highlight-fadeout {
  0% {
    box-shadow: 0 0 0 0 var(--primary-color);
  }

  10% {
    box-shadow: 0 0 4rem 0 var(--primary-color);
  }

  100% {
    box-shadow: 0 0 0.75rem 0 black;
  }
}


@media (width <=600px) {
  .feed {
    padding: 10px;
  }

  .post {
    padding: 12px;
  }

  .post h2 {
    scroll-margin-top: 80px;
  }
}


.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  z-index: 9998;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: var(--secondary-color);
  pointer-events: none;
  background: rgb(38 41 42 / 90%);
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem var(--primary-color);
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.not-found-toast {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: var(--secondary-color);
  text-align: center;
  pointer-events: auto;
  background: hsl(0deg 0% 10% / 90%);
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0 var(--primary-color);
  opacity: 1;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.btn-home {
  width: 70vw;
  max-width: 15rem;
  padding: 1rem 0;
  cursor: pointer;
  background: var(--dark-primary-color);
  border-radius: 0.25rem;

}

.btn-home:hover,
.btn-home:focus,
.btn-home:active {
  pointer-events: auto;
  box-shadow: 0 0 10rem var(--primary-color);
  transform: scale(0.9);
}

.not-found-toast.show {
  box-shadow: inset 0 0 0.3rem var(--primary-color);
  opacity: 1;
  transform: translateY(0);
  animation: toast-shadow 1s ease 0.3s forwards;
}

@keyframes toast-shadow {
  0% {
    box-shadow: inset 0 0 0.3rem var(--primary-color);
  }

  100% {
    box-shadow: inset 0 0 3rem var(--primary-color);
  }
}

.toast.show {
  opacity: 1;
  transform: translateX(-50%) translateY(-1rem);
}

#loading {
  display: flex;
  flex-direction: column;
  place-content: center center;
  width: 90vw;
  max-width: var(--spacing-content);
  height: 70vh;
  text-align: center;
}

.is-hidden {
  display: none;
}

#spinner {
  width: 100%;
  opacity: 0.6;
  fill: var(--grey);
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(0.9);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}