:root {
  --font-sans: "Montserrat", sans-serif;
  --font-mono: "Source Code Pro", monospace;

  --color-bg: hsl(0, 0%, 10%);
  --primary-color: rgb(197, 139, 255);
  --dark-primary-color: color-mix(in srgb, var(--primary-color), black 30%);
  --secondary-color: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 65%);

  --spacing-content: 800px;
  --spacing-max-content: calc(100vw - (2 * var(--spacing-gutter)));
  --spacing-gutter: 1.5rem;
  --spacing: .25rem;
  --transition: all 0.3s linear;

  --text-base: 1rem;
  --text-h4: 1.25rem;
  --text-h3: 1.56rem;
  --text-h2: 1.95rem;
  --text-h1: 2.44rem;
  --text-base--line-height: 1.7rem;
  --letter-spaing-base: .08rem;

  --blog-text-small: 0.75rem;
  --blog-text: 0.85rem;
  --blog-text-h1: 1.36rem;
  --blog-text-h2: 1.2rem;
  --blog-text-h3: 1.08rem;
  --blog-text-h4: 0.95rem;
}

*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--color-bg);
  color: var(--secondary-color);
  font-family: var(--font-sans);
  min-height: 100vh;
  font-weight: 300;
}

body:before {
  content: "";
  opacity: 1;
  background-image: radial-gradient(var(--dark-primary-color) .07rem, var(--color-bg) 1px);
  background-size: 2rem 2rem;
  z-index: -1;
  width: 100%;
  height: 100dvh;
  position: fixed;
  top: 0;
  mask: linear-gradient(135deg, hsla(0, 0%, 0%, 0) 60%, #fff);
}

h1,
.social,
.subtitle {
  font-weight: 300;
  text-transform: uppercase;
  font-family: var(--font-mono);
  font-size: clamp(1rem, 1vw, var(--text-base));
  line-height: clamp(1.5rem, 1.7vw, var(--text-base--line-height));
  letter-spacing: var(--letter-spaing-base);
  color: var(--grey);
}

h1 {
  margin: 0 auto calc(var(--spacing) * 2) auto;
}

h2,
.headliner {
  font-family: var(--font-sans);
  font-size: clamp(2.44rem, 5.5vw, 3rem);
  line-height: clamp(2.9rem, 6.6vw, 3.6rem);
  font-weight: 700;
  margin-bottom: calc(var(--spacing) * 2);
}

h3 {
  font-size: clamp(1.56rem, 3.5vw, 1.92rem);
  line-height: clamp(1.9rem, 4.2vw, 2.3rem);
  margin-bottom: calc(var(--spacing) * 1.5);
}

h4 {
  font-size: clamp(1.25rem, 2.8vw, 1.54rem);
  line-height: clamp(1.9rem, 4.2vw, 2.3rem);
  margin-bottom: calc(var(--spacing) * 1.5);
}

p {

  margin-bottom: calc(var(--spacing) * 10);
  line-height: var(--text-base--line-height);
  font-size: var(--text-base);
  font-weight: 300;
  text-wrap: balance;
  letter-spacing: calc(var(--letter-spaing-base) / 1.5);
}

.bi-circle {
  fill: var(--primary-color);
  stroke: var(--color-bg);
  stroke-width: .035rem;
  width: 80%;
}

nav {
  background-color: var(--color-bg);
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  line-height: 0;
}

.blog-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.6rem;
}

.blog-title h1 {
  margin-bottom: 0.25rem;
  color: var(--secondary-color);
  font-weight: 400;
}

.blog-title p {
  margin: 0;
  font-size: var(--blog-text-small);
  font-weight: 400;
  color: var(--grey);
  line-height: 0;
}


.nav-toggle {
  color: var(--primary-color);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--primary-color);
}

.dots-menu {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  transition: transform 0.3s ease;
}

.dot {
  display: block;
  width: 0.34rem;
  height: 0.34rem;
  border-radius: 100%;
  background-color: var(--primary-color);
  transition: transform 0.8s ease, opacity 0.3s ease;
}

.nav-toggle.active .dot:nth-child(1) {
  width: 100%;
  height: 0.12rem;
  border-radius: 0.1rem;
  transform: translateY(11px) rotate(45deg);
}

.nav-toggle.active .dot:nth-child(2) {
  opacity: 0;
}

.nav-toggle.active .dot:nth-child(3) {
  width: 100%;
  height: 0.12rem;
  border-radius: 0.1rem;
  transform: translateY(-10px) rotate(-45deg);
}

.links {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  list-style: none;
  text-align: left;
  font-size: var(--blog-text-h2);
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.6);
}

.links li {
  font-family: var(--font-mono);
  margin: 1.7rem 1.3rem;
}

.links a {
  text-decoration: none;
  color: var(--primary-color);
  transition: var(--transition);
}

.links a:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

li.smartphone {
  text-transform: none;
  font-family: var(--font-sans);
  margin-top: 1rem;
  color: var(--secondary-color);
}

.smartphone p {
  margin: 0 0 0.75rem;
  font-size: var(--blog-text);
  line-height: var(--blog-text-h1)
}

.social-media {
  display: flex;
  justify-content: start;
  list-style: none;
  padding: 0;
}

.social-media a {
  color: var(--primary-color);
  transition: var(--transition);
}

.social-media li {
  margin: 1rem 3rem 0.2rem 0;
}

.social-media.footer-media li {
  margin: 1.5rem;
}

.social-icon {
  width: 1.6rem;
  height: 1.6rem;
  fill: currentColor;
  vertical-align: top;
}

.social-media a:hover .social-icon {
  transform: scale(1.2);
  color: var(--secondary-color);
}

.show-links {
  max-height: 90vh;
}

section {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto 5rem auto;
  max-width: var(--spacing-content);
  padding: 0 var(--spacing-gutter);
  width: 100%;
}

.home {
  margin: 25% auto 7rem auto;
}

.arrow-down {
  display: none;
}

.accent {
  font-family: var(--font-mono);
  color: var(--grey);
  margin-bottom: 2rem;
  font-size: var(--blog-text-h4);
}

@media screen and (min-width: 768px) {

  .nav-center {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0.3rem;
  }

  .nav-header {
    padding: 0;
  }

  .blog-title {
    margin: 0 0 0.5rem 0.75rem;
  }

  .bi-circle {
    width: 100%;
  }

  .nav-toggle {
    display: none;
  }

  .links {
    max-height: none;
    overflow: visible;
    display: flex;
    align-items: center;
    font-size: calc(var(--text-base) * 0.9);
    transition: none;
    box-shadow: none;
  }

  .links li {
    margin: 0 0 0.5rem 1.2rem;
  }

  .links a {
    padding: 0;
    margin: 0 0.5rem;
    transition: none;
  }

  .links a:hover {
    padding: 0;
    background: transparent;
    color: var(--secondary-color);
    transition: color 0.3s ease, background 0.3s;
  }

  .smartphone {
    display: none;
  }

  .social-media li {
    margin: 0 0.75rem 0 0;
  }

  .social-icon {
    width: 1.1rem;
    height: 1.1rem;
    fill: currentColor;
    vertical-align: top;
    transition: transform 0.2s ease;
  }

  section {
    margin: 0 auto 7rem auto;
  }

  .home {
    margin: 25vh auto 5rem auto;
  }

  .arrow-down {
    display: block;
    align-self: center;
    margin: 3rem 0 2.8rem;
    transition: var(--transition);
    color: var(--grey);
    animation: floating 1.5s ease 0.1s infinite alternate;
  }

  @keyframes floating {
    0% {
      opacity: 0;
      transform: translateY(0);
      filter: blur(0.25rem);
    }

    100% {
      opacity: 1;
      transform: translateY(1rem);
      filter: blur(0);
    }
  }

  .accent {
    margin-bottom: 3.5rem;
  }

}

header {
  margin-bottom: calc(var(--spacing) * 6);
  text-wrap: balance;
}

header,
.bio {
  opacity: 0;
  transform: translateY(20px);
  filter: blur(3px);
  animation: fadeIn 1s ease-in-out 0.3s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
    filter: blur(3px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}


.text-link,
.content a {
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 1px solid var(--dark-primary-color);
}

.text-link:hover,
.text-link:active,
.text-link:focus,
.content a:hover,
.content a:active,
.content a:focus {
  background-color: var(--dark-primary-color);
  color: var(--secondary-color);
  transition: color 0.3s ease, background 0.3s;
}

::-moz-selection {
  background: var(--dark-primary-color);
  color: var(--secondary-color);
}

::selection {
  background-color: var(--dark-primary-color);
  color: var(--secondary-color);
  background-clip: text;
  -webkit-background-clip: text;
}

.social {
  display: flex;
  justify-content: start;
  flex-direction: column;
  opacity: 0;
  transform: translateY(10px);
  filter: blur(2px);
  animation: fadeIn2 1s ease-in-out 1s forwards;
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
    transform: translateY(10px);
    filter: blur(2px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

ul {
  list-style: none;
}

ul li {
  margin: .5em 0 0 0;
  color: var(--grey);
  white-space: nowrap;
}

.social a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.social a:hover {
  color: var(--secondary-color);
  background: var(--dark-primary-color);
  transition: color 0.3s ease, background 0.3s ease;
}

.running {
  text-align: left;
  width: 17ch;
  overflow: hidden;
  margin-left: -0.5rem;
  display: inline-flex;
}

.running>span {
  font-size: clamp(0.95rem, 1vw, var(--text-base));
  animation: marquee 8s linear 1.5s infinite;
}

@keyframes marquee {
  to {
    translate: -51%;
  }
}

/* 
======================
FADE-IN ANIMATION AND BUTTONS
====================== 
*/
.fade-in-section,
.fade-in-delay,
.fade-in-delay-box {
  opacity: 0;
  transform: translateY(50px);
  filter: blur(3px);
}

.fade-in-section.is-visible,
.fade-in-delay.is-visible,
.fade-in-delay-box.is-visible {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}

.fade-in-section {
  transition: opacity 1s ease-in-out, transform 1s ease, filter 1s ease-in-out;
}

.fade-in-delay {
  transition: opacity 1s 0.3s ease-in-out, transform 1s 0.3s ease, filter 1s 0.3s ease-in-out;
}

.fade-in-delay-box {
  transition: opacity 1s 0.6s ease-in-out, transform 1s 0.6s ease, filter 1s 0.6s ease-in-out;
}

.motion-effect {
  opacity: 0;
  transform: scale(0);
  filter: blur(3.5rem);
  transition: filter 1.7s ease-in-out;
}

.motion-effect.is-visible {
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
}

.CTA-btn,
.CTA-btn-secondary {
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  font-size: var(--text-base);
  font-family: var(--font-mono);
  text-transform: uppercase;
  letter-spacing: var(--letter-spaing-base);
  font-weight: 300;
  text-align: center;
  box-shadow: 0 0.05rem 0.75rem black;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease-in-out;
  width: 29ch;
}

.CTA-btn {
  background-color: var(--dark-primary-color);
}

.CTA-btn-secondary {
  border: 1px solid var(--dark-primary-color);
}

.CTA-btn a,
.CTA-btn-secondary a {
  color: var(--secondary-color);
  text-decoration: none;
}

.CTA-btn-secondary a {
  color: var(--primary-color);
}

.CTA-btn a:hover,
.CTA-btn a:active,
.CTA-btn-secondary a:hover,
.CTA-btn-secondary a:active {
  background-color: transparent;
}

.CTA-btn:hover,
.CTA-btn:active,
.CTA-btn-secondary:hover,
.CTA-btn-secondary:active {
  box-shadow: 0 0 0.5rem black,
    0 0 5rem var(--dark-primary-color);
  transform: scale(0.95);
}

.social p.CTA-btn {
  margin: calc(var(--spacing) * 10) 0 0 0;
}

/* 
======================
PROJECT SECTION 
====================== 
*/
.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 0.75rem;
}

.projects>p {
  grid-column: 1 / 2;
  justify-self: start;
}

span.subtitle {
  display: inline-block;
  line-height: 1.5rem;
  margin: 0.6rem 0 calc(var(--spacing) * 6) 0;
}

.project-link {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.project-card {
  overflow: hidden;
  border-radius: 0.75rem;
  box-shadow: 0 0.05rem 0.75rem black;
  position: relative;
  width: 100%;
  max-width: 550px;
  justify-self: center;
}

.project-card .img {
  width: 100%;
  height: auto;
  transform: scale(1.03);
  aspect-ratio: 4/5;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.project-card::after {
  content: '➝';
  position: absolute;
  top: 87%;
  left: 83%;
  font-size: calc(var(--text-base) * 1.9);
  transform: rotate(45deg);
  opacity: 0.5;
  transition: var(--transition);
  background: var(--dark-primary-color);
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
}

.project-link:hover .project-card::after,
.project-link:active .project-card::after {
  opacity: 0.9;
  top: 89%;
  left: 87%;
  font-size: calc(var(--text-base) * 2);
}

.image-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  opacity: 0.7;
  padding: 1rem 1.5rem;
  transition: opacity 0.8s ease;
}

.image-overlay h3 {
  margin-bottom: 0.25rem;
  font-size: clamp(1.56rem, 3.5vw, 1.7rem);
}

.image-overlay p {
  line-height: 1.45rem;
  font-size: var(--blog-text);
}

.project-link:hover .project-card {
  box-shadow: 0 0.05rem 2rem black;
}

.project-link:hover .project-card img {
  transform: scale(1.2);
  filter: brightness(0.9);
}

.project-link:hover .project-card .image-overlay {
  opacity: 1;
}

.projects-CTA {
  grid-column: 1 /2;
  justify-self: center;
  text-align: center;
}

.projects-CTA h4 {
  margin: 2.5rem auto 1rem;
}

.projects-CTA .CTA-btn {
  margin: 0 0 1rem;
  
}

.projects-CTA .CTA-btn-secondary {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
  }

  .projects>p,
  .projects h2 {
    grid-column: 1 / 3;
    justify-self: start;
  }

  .projects .headliner {
    line-height: 2.3rem;
  }

  span.subtitle {
    margin-top: -7rem;
  }

  .projects-CTA {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  justify-items: end;
  padding: 0 0.75rem;
  justify-self: end;
  column-gap: 0.75rem;
  width: 100%;
}

.projects-CTA h4 {
  margin: 2rem 1rem 1rem;
  grid-column: 2 / 3;
  justify-self: center;
}

.projects-CTA .CTA-btn {
  margin: 0;
  grid-area: 2 / 2 / 3 / 3;
  width: 100%;
  
}

.projects-CTA .CTA-btn-secondary {
  margin: 0;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: flex-start;
  width: 100%;
}

  .project-card {
    border-radius: 1rem;
  }

  .project-card .img {
    aspect-ratio: 4 / 5;
  }
}

/* 
======================
ABOUT SECTION 
====================== 
*/
.story {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.story div {
  align-self: flex-start;
}

.about p,
.about h3 {
  color: var(--grey);
  text-wrap: wrap;
}

.about img {
  width: 90%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100%;
  margin: 0 0 calc(var(--spacing) * 10) 0;
}

.about p.subtitle {
  margin: 0 0 1rem;
}

p.quote {
  margin: calc(var(--spacing) * 10);
  font-weight: 500;
  font-size: clamp(1.25rem, 2.8vw, 1.54rem);
  line-height: clamp(1.9rem, 4.2vw, 2.3rem);
  color: var(--secondary-color);
}

.about>*:nth-child(3) {
  letter-spacing: 0.03rem;
}

.about .social-media {
  margin: 0 auto 5rem;
}

.about .social-media li {
  margin: 0 1.5rem;
}

.about .CTA-btn {
  margin-top: calc(var(--spacing) * 10);
  align-self: center;
}

.about .social {
  margin-bottom: calc(var(--spacing) * 10);
  width: 100%;
}

.about .social li {
  text-wrap: wrap;
}

.skills {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills>div {
  padding: 10rem 0 2rem 5rem;
  background-color: transparent;
  margin-bottom: 0.75rem;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  width: 90%;
  box-shadow: 0 0.05rem 0.75rem black;
}

.lang::before,
.tools::before,
.concepts::before,
.build::before {
  position: relative;
  font-size: 1.7rem;
  top: -1.5rem;
  left: -0.5rem;
  margin-left: -2rem;
  filter: grayscale(1) contrast(2) brightness(0.6);
  opacity: 0.5;
}

.lang::before {
  content: '🧩';
}

.tools::before {
  content: '⚙️';
}

.concepts::before {
  content: '💡';
}

.build::before {
  content: '🛠';
}

.skills li {
  margin: 0;
  font-size: var(--blog-text);
  line-height: 1.4rem;
  text-wrap: wrap;
  list-style: circle;
}

.skills h3 {
  font-size: 1.56rem;
  margin-bottom: 0.9rem;
}

@media screen and (min-width: 540px) {

  .skills {
    justify-content: flex-start;
  }

  .skills>div {
    padding: 9rem 1.5rem 2rem 4.5rem;
    width: 46%;
    margin: 0.5rem;
  }

  .skills h3 {
    font-size: clamp(1.4rem, 4vw, 1.92rem);
  }

  .about .CTA-btn {
    align-self: center;
    margin-right: 0.75rem;
  }
}

.reviews .subtitle {
  margin: 0 0 0.5rem;
}

.reviews>*:nth-child(3) {
  color: var(--grey);
  line-height: 1.5rem;
}

.fade-in {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.fade-in-author {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.fade-in.isShown,
.fade-in-author.isShown {
  opacity: 1;
  transform: translateY(0);
}

.review {
  padding: 1rem 0;
  height: 23.5rem;
}

.review p {
  margin: 0;
}

#author {
  font-size: var(--text-base);
  text-transform: uppercase;
  font-family: var(--font-mono);
}

#info {
  width: 100%;
  text-wrap: wrap;
  font-weight: 400;
  margin: calc(var(--spacing) * 10) 0;
}

#info::before,
p.quote::before {
  content: "\"";
  position: relative;
  top: 0;
  left: 0;
  color: var(--grey);
  opacity: 0.7;
  font-size: 6rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 0;
  margin-right: -2.5rem;
}

#info::after,
p.quote::after {
  content: "\"";
  position: relative;
  top: 0;
  left: 0.5rem;
  font-weight: 700;
  color: var(--grey);
  opacity: 0.7;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

.prev-btn,
.next-btn {
  color: var(--primary-color);
  font-size: 1rem;
  line-height: 0;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: 2px solid var(--dark-primary-color);
  border-radius: 100%;
  transition: var(--transition);
  cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover,
.prev-btn:active,
.next-btn:active {
  color: var(--secondary-color);
  transform: scale(0.9);
}

.bi-chevron-left,
.bi-chevron-right {
  stroke: var(--primary-color);
  stroke-width: .06rem;
}

p.CTA-btn-secondary {
  margin: calc(var(--spacing) * 10) 0 0 0;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .about .CTA-btn {
    align-self: flex-end;
    margin: calc(var(--spacing) * 10) 0.75rem 0 0;
  }

  .story {
    flex-direction: row-reverse;
  }

  .story div {
    align-self: center;
  }

  .about img {
    margin: 0 calc(var(--spacing) * 10) calc(var(--spacing) * 10) 0;
    float: left;
    shape-outside: circle();
    width: 35%;
    height: auto;
    border-radius: 50%;
  }

  .about .social-media {
    justify-content: flex-start;
    margin: 0 0 5rem;
  }

  .about .social-media li {
    margin: 0 2.5rem 0 0;
  }

  .skills div {
    padding: 9rem 1rem 2rem 5rem;
    width: 47%;
  }

  .skills h3 {
    font-size: clamp(1.56rem, 2vw, 1.8rem);
  }

  .review {
    height: clamp(18rem, 35vw, 21rem);
  }

  .button-container {
    width: 30%;
  }
}

/* 
======================
CONTACT SECTION 
====================== 
*/
.contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}

form label {
  margin-bottom: 0.75rem;
}

.form-group:focus-within label {
  color: var(--dark-primary-color);
  transition: color 0.3s ease-in-out;
}

form input,
form textarea {
  background-color: transparent;
  border-bottom: 1px solid var(--grey);
  min-height: 3rem;
  color: var(--grey);
  font-size: calc(var(--text-base) * 1.2);
  font-family: var(--font-mono);
  font-weight: 400;
}

form textarea {
  width: 100%;
  min-width: 320px;
  max-width: 700px;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-bottom: 1px solid var(--dark-primary-color);
  box-shadow: 0 1px 0 0 var(--dark-primary-color);
  transition: all 0.3s ease-in-out;
}

form button {
  min-height: 3rem;
  align-self: center;
  color: var(--secondary-color);
}

form input::placeholder,
form textarea::placeholder {
  color: var(--grey);
  font-size: var(--text-base);
  font-family: var(--font-mono);
  letter-spacing: 0.05rem;
  opacity: 0.5;
}

form input:focus::placeholder,
form textarea:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

form input:-webkit-autofill,
form textarea:-webkit-autofill {
  background-color: transparent !important;
  background-image: none !important;
  color: var(--grey) !important;
  transition: background-color 0s 99999s, color 0s 99999s !important;
}

form input:-webkit-autofill:hover,
form input:-webkit-autofill:focus,
form textarea:-webkit-autofill:hover,
form textarea:-webkit-autofill:focus {
  background-color: transparent !important;
  background-image: none !important;
  color: var(--grey) !important;
}

@media screen and (min-width: 768px) {
  form button {
    align-self: flex-end;
  }
}

/* 
======================
FOOTER 
====================== 
*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1200px;
}

footer p {
  color: var(--grey);
  font-size: 0.85rem;
  margin: 1rem 0;
}

footer a {
  text-decoration: none;
  color: var(--primary-color);
  transition: var(--transition);
}

footer .accent {
  margin: 0.5rem;
  text-align: center;
}

#back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 0.5rem;
  background-color: var(--dark-primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0.25rem 0.75rem black;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.5;
  z-index: 1000;
}

#back-to-top:hover {
  opacity: 1;
}

/* 
======================
BLOG 
====================== 
*/

.post h1 {
  font-size: var(--blog-text-h1);
  line-height: 2.72rem;
  font-weight: 700;
  font-family: var(--font-sans);
  margin-bottom: 2rem;
}

.post h2 {
  font-size: var(--blog-text-h2);
  line-height: 1.9rem;
  font-weight: 600;
}

.post h3 {
  font-size: var(--blog-text-h3);
  line-height: 2.16rem;
  font-weight: 500;
  margin-top: 2rem;
}

.post h4 {
  font-size: var(--blog-text-h4);
  line-height: 1.9rem;
  font-weight: 500;
  margin-top: 2rem;
}

.post p {
  font-size: calc(var(--blog-text)* 1.1);
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
  text-wrap: wrap;
  margin-bottom: 1rem;
}

.content p::first-letter {
  margin-left: 0;
}

.post h1,
.post h2,
.post h3,
.post h4 {
  color: var(--secondary-color);
}

.post code {
  color: skyblue;
  letter-spacing: var(--letter-spaing-base);
  font-family: var(--font-mono);
  background: var(--color-bg);
  padding: 0.1rem 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid hsl(0, 0%, 20%);
}

.post details {
  line-height: 1.5rem;
  cursor: pointer;
  font-size: calc(var(--blog-text)* 1.1);
  letter-spacing: 0.04rem;
  text-wrap: wrap;
  margin-bottom: 1rem;
}

.post summary {
  font-family: var(--font-mono);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--primary-color);
}

.post ul,
.post ol {
  margin: 1rem 0;
}

.post ul li,
.post ol li {
  margin: 0 1.5rem;
  font-size: calc(var(--blog-text)* 1.1);
  line-height: 1.5rem;
  text-wrap: wrap;
}

.post ul li {
  list-style: disc;
}

.post blockquote {
  border-left: 0.15rem solid var(--dark-primary-color);
  padding: 0 1.8rem 0.1rem 0.6rem;
  margin: 0.5rem 0 1rem 0;
  text-wrap: balance;
  background-color: var(--color-bg);
  border-radius: 0.3rem;
  font-style: italic;
  box-shadow: 0 0 2px hsl(0, 0%, 30%);
}

.post blockquote::before {
  content: "\"";
  top: 1.8rem;
  left: 99%;
  position: relative;
  font-weight: bold;
  font-size: 1.8rem;
  font-family: 'Times New Roman', Times, serif;
  line-height: 0;
  padding: 0;
  margin: 0;
  color: var(--dark-primary-color);
}

#feed {
  max-width: var(--spacing-content);
  width: 100vw;
  margin: 6rem auto 0 auto;
  padding: .7rem;
}

article.post {
  padding: .75rem .75rem .3125rem;
}

.post {
  background: linear-gradient(135deg, hsl(0, 0%, 17%), hsl(0, 0%, 11%));
  border-radius: 1rem;
  box-shadow: 0 0.05rem 0.75rem black;
  margin-bottom: calc(var(--spacing) * 2);
  position: relative;
  width: 88%;
}

.post img.post-img,
.post img {
  width: 100%;
  margin: calc(var(--spacing)* 1.5) 0;
  border-radius: 0.2rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.post .content {
  color: var(--grey);
  font-size: var(--blog-text);
}

.post .meta {
  font-size: var(--blog-text-small);
  letter-spacing: 0.03rem;
  color: var(--grey);
  filter: grayscale(1) contrast(5) brightness(50%);
  margin-bottom: 0;
  position: relative;
  top: .3rem;
}

.post-footer {
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-template-rows: auto auto;
  align-items: end;
}

.post-footer .reaction-buttons {
  grid-column: 1 / 2;
  justify-self: start;
}

.post-footer .meta {
  grid-column: 2 / 3;
  justify-self: end;
}

.post-footer .share-link,
.post-footer .manual-copy-input {
  grid-column: 1 / 3;
  justify-self: end;
}


.reaction-buttons {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 0.2rem;
  margin-top: 10px;
  animation: none;
}

.like-btn {
  background-color: transparent;
  filter: grayscale(1);
  border: none;
  border-radius: 20px;
  padding: 0.15rem 0.5rem;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
}

.share-link {
  background: black;
  padding: 0.32rem 0.5rem;
  border-radius: 5rem;
  position: relative;
  top: -3rem;
  left: 3.2rem;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: bold;
  letter-spacing: -0.04rem;
  text-decoration: none;
}

.share-link:hover,
.share-link:focus,
.share-link:active {
  transform: scale(0.9);
}

.share-link::after {
  content: '➝';
  font-size: 1rem;
}

.post a.share-link {
  margin-bottom: -3rem;
}

.like-btn:hover,
.share-link:hover {
  text-decoration: none;
}

.like-btn:hover,
.like-btn:active,
.like-btn:focus {
  background-color: transparent;
  text-decoration: none;
  filter: grayscale(0);
  text-shadow: 0 0 1.5rem red;
  transition: var(--transition);
}

.like-btn.reacted {
  background-color: rgba(197, 139, 255, 0.35);
  color: #fff;
  filter: grayscale(0);
}

.like-btn:not(.reacted):active,
.like-btn:not(.reacted):focus {
  filter: grayscale(1);
  text-shadow: none;
}

.reaction-count {
  margin-left: -2px;
  font-size: .8rem;
}

.reaction-count:empty,
.reaction-count:not(:empty)::after {
  content: attr(data-count);
}

.reaction-count[data-count="0"] {
  display: none;
}

.reaction-count.hidden {
  display: none;
}

.highlight {
  box-shadow: 0 0 0 0 var(--primary-color);
  animation: highlight-fadeout 2.5s ease forwards;
}

@keyframes highlight-fadeout {
  0% {
    box-shadow: 0 0 0 0 var(--primary-color);
  }

  10% {
    box-shadow: 0 0 4rem 0 var(--primary-color);
  }

  100% {
    box-shadow: 0 0 0.75rem 0 black;
  }
}


@media (max-width: 600px) {
  .feed {
    padding: 10px;
  }

  .post {
    padding: 12px;
  }

  .post h2 {
    scroll-margin-top: 80px;
  }
}


.toast {
  opacity: 0;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(38, 41, 42, 0.9);
  color: var(--secondary-color);
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1rem;
  box-shadow: 0 0 0.5rem var(--primary-color);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 9998;
}

.notFound-toast {
  opacity: 1;
  transform: translateY(100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: hsla(0, 0%, 10%, 0.9);
  color: var(--secondary-color);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  box-shadow: inset 0 0 0 var(--primary-color);
  pointer-events: auto;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 9999;
}

.btn-home {
  background: var(--dark-primary-color);
  border-radius: 0.25rem;
  width: 70vw;
  max-width: 15rem;
  padding: 1rem 0;
  cursor: pointer;

}

.btn-home a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: var(--blog-text-h4);
}

.btn-home:hover,
.btn-home:focus,
.btn-home:active {
  transform: scale(0.9);
  box-shadow: 0 0 10rem var(--primary-color);
  pointer-events: auto;
}

.notFound-toast.show {
  opacity: 1;
  transform: translateY(0);
  box-shadow: inset 0 0 0.3rem var(--primary-color);
  animation: toastShadow 1s ease 0.3s forwards;
}

@keyframes toastShadow {
  0% {
    box-shadow: inset 0 0 0.3rem var(--primary-color);
  }

  100% {
    box-shadow: inset 0 0 3rem var(--primary-color);
  }
}

.toast.show {
  opacity: 1;
  transform: translateX(-50%) translateY(-1rem);
}

.manual-copy-input {
  position: absolute;
  bottom: 20px;
  left: -9999px;
  background: rgba(38, 41, 42, 0.9);
  color: var(--secondary-color);
  padding: 0.75rem 1.5rem;
  border-radius: 0.7rem;
  font-size: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 9999;
  margin: 1rem 0 0.5rem;
}

.manual-copy-input.visible {
  opacity: 1;
  margin-top: 1rem;
}

#loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 90vw;
  height: 70vh;
  max-width: var(--spacing-content);
  text-align: center;
}

.is-hidden {
  display: none;
}

#spinner {
  fill: var(--grey);
  width: 100%;
  opacity: 0.6;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(0.9);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}