.about {
  margin-bottom: $space-lg;
  color: $clr-grey;
  text-wrap: wrap;
}

.accent {
  @include accent-text;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  margin-bottom: $space-lg;

  h2 {
    margin-bottom: $space-xs;

    .word {
      height: 100%;
      min-height: 30px;
      overflow: hidden;
    }
  }

  div {
    align-self: flex-start;
  }

  @include screen(tablet) {
    flex-direction: row-reverse;

    div {
      align-self: center;
    }
  }
}

.nameTitle,
.jobTitle {
  min-height: 30px;
  overflow: hidden;
  font-kerning: none;
  line-height: 1.2;
  letter-spacing: 0.01em;

}

.char {
  display: inline-block;
  will-change: transform;
  backface-visibility: hidden;
}

.storyImg {
  @include flex-center;

  position: relative;
  width: 100%;

  img,
  .bubble {
    width: 90%;
    max-width: $card;
    aspect-ratio: 1 / 1;
  }

  img {
    object-fit: cover;
    border-radius: 100%;
    shape-outside: circle()
  }

  @include screen(tablet) {
    width: 35%;
    margin: 0 $space-xl $space-xl 0;
  }
}

.bubble {
  position: absolute;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.bubbleTrigger {
  position: absolute;
  right: 5%;
  bottom: 5%;
  background: rgba($clr-black, 0.5);
  border: none;
  border-radius: 50%;

  button {
    @include flex-center;

    width: $icon-lg;
    height: $icon-lg;
    padding: 0.5rem;
    font-size: calc($font-size-base * 1.25);
    font-weight: 800;
    color: $clr-primary;
    filter: drop-shadow(0 0 1rem $clr-primary);
  }

  span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover,
    &:active {
      transform: scale(1.2) rotate(10deg);
    }
  }
}

.chatIcon {
  width: $icon-sm;
  height: $icon-sm;
  animation: breath 2.5s ease-out infinite;
}

@keyframes breath {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}

.closeBubble {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1.2rem;
  color: $clr-primary;
  background: none;
  border: none;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.speechBubble {
  position: relative;
  right: 0;
  bottom: -100%;
  z-index: $z-modal;
  width: 100%;
  padding: $space-md;
  overflow: hidden;
  font-family: $font-mono;
  color: $clr-grey;
  background: $clr-black;
  border-radius: $radius-xl;
  box-shadow:
    0 3.8rem 2rem -4.5rem $clr-primary-dark,
    0 4rem 3rem -2.5rem $clr-black,
  ;

  p {
    margin: 0;
  }

  strong {
    font-weight: 600;
    color: $clr-secondary;
  }

  @include screen(tablet) {
    position: absolute;
    top: 60%;
    right: 0;
    z-index: -1;
  }

  @include screen(desktop) {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: $z-modal;
  }
}

.subtitle,
.techSubtitle {
  @include subtitle-style;
}

.storyBio,
.storyBioQuote {
  @include flex-center(column);

  strong {
    font-weight: bold;
  }
}

.textLink {
  @include link;
}

.quote {
  position: relative;
  width: 80%;
  margin: $space-xl auto $space-xxl + $space-sm;
  font-size: clamp(1.25rem, 2.8vw, 1.54rem);
  font-weight: 500;
  line-height: clamp(1.9rem, 4.2vw, 2.3rem);
  color: $clr-secondary;
  text-wrap: stable;

  &::before,
  &::after {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 6rem;
    line-height: 0;
    color: $clr-grey;
    content: "\"";
    opacity: 0.4;
  }

  &::before {
    top: 0;
    left: -2rem;
    margin-right: -2.5rem;
  }

  &::after {
    right: -2rem;
    bottom: -1rem;
  }

  @include screen(tablet) {
    width: 60%;
    margin: $space-xl auto;
  }
}

.socialMedia {
  margin: 0 auto $space-xxl;

  li {
    margin-right: $space-lg;
  }

  @include screen(tablet) {
    align-self: center;
    margin: $space-md 0 $space-xxl;

    li {
      margin-right: $space-xxl;
    }
  }
}


.techSubtitle {
  margin: 0;
  color: $clr-accent;
}

.skills {
  @include flex-center(column);

  width: 100%;
  height: auto;
}

.ctaBtn {
  align-self: center;
  margin-bottom: $space-xxl + $space-sm;

  @include screen(tablet) {
    align-self: flex-end;
    margin-right: 0.75rem;
    margin-bottom: $space-xxl * 2;
  }
}